* {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
}

.editor-parent {
    height: 100vh;
    width: 80%;
}

.editor-window {
    height:60vh;
} 

.online-status {
    height: 100vh;
    width: 20%;
    background-color: #272822;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.users {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}



.uniq-user {
    font-size: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.me {
    font-size: 10px;
    color: cornflowerblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.green-online {
    height: 12px;
    width: 12px;
    background-color: rgb(0, 170, 0);
    border-radius: 50%;
    margin: 3%;
}

.active-users {
    margin-top: 10%;
}


.loading {
    position: absolute;
    color: blue;
    margin-top: 2.4%;
    margin-left: 8.4%;
}

.io-section {
    height: 35vh;
    display: flex;
    background-color: #272822;
    /* padding: 2%; */
}

.modal_for_reset {
    height: 20%;
    width: 20%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 2px 4px #0f0f0d;
    padding: 10px;
    display:none;
}

.modal-question {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10%;
}

.btn-modal {
    margin: 10%;
    margin-right: 20%;
}

.yes, .cancel {
    margin-right: 20%;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.yes {
    background-color: rgb(82, 38, 241);
    color: white;
}

.cancel {
    background-color: rgb(230, 84, 84);
    color: white;
}

#options {
    height: 5vh;
    width: 100%;
    font-size: 15px;
    background-color: #272822;
}

#select-box, #select-theme-box {
    height: 25px;
    margin-top: 4px;
    margin-left: 3%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #272822;
    color: white;
    cursor: pointer;
}

.input-section, .output-section  {
    position: relative;
    top: 30%;
    left: -20%;
    margin: 2%;
    height: 40%;
    width: 20%;
    font-size: 13px;
    border: 1px solid;
    border-radius: 10px;
    outline: none;
    background-color: #494b41;
    padding: 1%;
    color: white;
    border: none;
}

.compile {
    position: absolute;
    top: -35%;
    font-weight: bolder;
    color: red;
}

.cpu {
    position: relative;
    top: -30%;
    left: -30%;
    font-size: 17px;
    font-weight: bolder;
    color: white;
}

textarea {
    resize:none;
}

.error-field {
    position: relative;
    top: 45%;
    left: -10%;
    height: 40%;
    width: 40%;
}

.error-msg-field {
    height: 100%;
    width: 100%;
    background-color: #272822;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
}

.input-section::placeholder, .output-section::placeholder {
    color: white;
    /* padding: 2%; */
}


.run-btn, .reset-btn {
    margin: 2%;
    position: relative;
    left: 2%;
    width: 7%;
    bottom: -2%;
    height: 14%;
    font-size: 100%;
    font-family: sans-serif;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(158, 109, 204);
    scrollbar-highlight-color: white;
    outline: none;
}

.run-btn:hover, .reset-btn:hover {
    background-color: rgb(125, 87, 161);
    cursor: pointer;
}
